# rename this file to .env

# BOT AUTH PARAMS

PUBLIC_KEY="YOUR_PUBLIC_API"
SECRET_KEY="YOUR_SECRET_API"
# testnet 0 to false, 1 to true
TESTNET=0

# BOT TRADING OPTIONS

PROFIT_PERCENTAGE = 0.05
ASKS_MARGIN_PERCENTAGE = 0.03
BIDS_MARGIN_PERCENTAGE = 0.05
SYMBOL = "ETHBTC"

# BOT CONFIG
BREAK_STRATEGY_PROCESS = 0
STRATEGY_PROCESS_SLEEP_TIME = 20

# Supertrend Indicator config
INTERVAL = "1m"
LIMIT = 100
PERIOD = 7
ATR_MULTIPLIER = 3